body {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
  }




h4, h6 {
   margin-bottom: 10px;
   margin-top: 10px;
}

/* Directory */
h4 {
  font-size: 20px;
  padding: 16px 16px; /* Padding for headings */
  margin-bottom: 5px;
}

/* Database + Reports&Logs */
h6 {
  font-size: 15px;
  padding: 2px 16px; /* Padding for headings */
}


table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}


.content_section{
  margin: auto;
  width: 75%;
  margin-left: 17.5%;
  padding: 20px;
  font-family: Monaco,monospace;
}

.dbview_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;  
  border-bottom: 1px solid #ccc;
}

.search_sec{
  flex: 0 0 75%;
  padding: 10px;
  box-sizing: border-box;
}

.search_sec input[type="text"]{
  width: 75%;
  padding: 8px;
  box-sizing: border-box;
}

.update_sec{
  flex: 0 0 25%;
  padding: 10px;
  box-sizing: border-box;
}



.document {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.selected {
  background-color: #f0f0f0;
  border: 2px solid blue;
}

   /* Font Family */
.topnav, .sidebar, .topnav a, .sidebar a {
    font-family: Monaco, monospace;
  }
  
   /* Top Navigation*/
  .topnav {
    overflow: hidden;  
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
  }
  
  .topnav a {
    float: left;
    color: #DC143C;
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
    font-size: 17px;
  }

   /* SIDEBAR */
  .sidebar {
    float: left;
    width: 200px; /* width for the sidebar */
    position: fixed; /* Fix the sidebar in place */
    height: 100%;
    overflow: auto;
    left: 0; /*  sidebar on the left side of the page */
    border-right: 3px solid #ddd;
    box-sizing: border-box;
  }
  
  .sidebar a {
    display: block; /* Make links behave like block elements */
    color: black; 
    text-align: left; 
    padding: 8px 16px; 
    text-decoration: none;
    font-size: 14px;
  }
  
   /* SIDEBAR HOVER */
  .sidebar a:hover { 
    background-color: #e0e0e0;
  }
  


.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
  /* Media query for smaller screens (e.g., up to 768px) */
@media (max-width: 768px) {
  .dbview-header {
    flex-direction: column; /* Stack flex items vertically on smaller screens */
  }

  .search-sec, .update-sec {
    flex-basis: 100%; /* Full width for both sections on smaller screens */
  }
}
