{% extends 'dobaMainPage/base.html' %} {% block content %}

<div class="rename_section">
  <h1>Rename Document: {{ document.document_name }}</h1>
  <form
    class="rename_form"
    method="post"
    action="{% url 'rename_doc' document.id %}">
    {% csrf_token %}
    <div>
      <section>
        <label>Document Name: {{ document.document_name }} </label>
      </section>
      <label for="new_document_name"
        >Document Name Format: IAR/EPR_SUPPLIER_DATE</label
      >
      {{ form.as_p }}
    </div>
    <button type="submit">Save</button>
  </form>
</div>

{% endblock %}
