{% extends 'dobaMainPage/base.html' %} {% block content %}
{% load static %}
<script src="{% static 'js/contextMenu.js' %}"></script>


<div class>
  <div class="search">
    <form
      action="{%url 'doc_update' %}"
      method="GET">
      <button
        id="back_btn"
        type="submit">
        BACK
      </button>
    </form>
    <h1>Search Results for "{{ query }}"</h1>
  </div>

  {% if results %}
  <div class="table_section">
    <table>
      <thead>
        <tr>
          <th>Document Name</th>
          <th>Document Type</th>
          <th>Supplier</th>
          <th>Date</th>
          <th>P.O. Number</th>
          <th>Status</th>
          <th>Remarks</th>
          <th>Update Document</th>
          <th>View</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <!-- Django loop function for each document in Document module, via views.py -->
        {% for document in results %}
        <tr
          class="document"
          id="document {{ document.id }}"
          data-document-id="{{ document.id }}">
          <td>{{ document.document_name }}</td>
          <td>{{ document.document_type }}</td>
          <td>{{ document.supplier }}</td>
          <td>{{ document.date }}</td>
          <form method="post" action="{% url 'doc_update' %}">
            {% csrf_token %}
            <input type="hidden" name="document_id" value="{{ document.id }}">
            <td>
              <input type="text" name="po_number" value="{{ document.po_number }}">
            </td>
            <td>
              <select name="status" class="status-dropdown">
                <option value="" {% if not document.status %}selected{% endif %}>None</option>
                <option value="Out" {% if document.status == "Out" %}selected{% endif %}>Out</option>
                <option value="In" {% if document.status == "In" %}selected{% endif %}>In</option>
              </select>
            </td>
            <td>
              <input type="text" name="remarks" value="{{ document.remarks }}">
            </td>
            <td>
              <button type="submit">Update</button>
            </td>
          </form>
          
          <td>
            <a href="{% url 'view_document' document.id %}" class="btn btn-primary" >
            View</a
            >
          </td>
          <td>
            <a
              href="{% url 'download_document' document.id %}"
              class="btn btn-primary"
              >Download</a
            >
          </td>

        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

  <div class="pagination">
    <ul class="page">
      {% if results.has_previous %}
      <a href="?{% if query %}query={{query}}&{% endif %}page=1">
        <li>FIRST</li>
      </a>

      {% if results.number|add:"-1" > 1 %}
      <a
        href="?{% if query %}query={{query}}&{% endif %}page={{results.number|add:'-2'}}">
        <li>{{results.number|add:"-2"}}</li>
      </a>
      {% endif %} {% if results.number > 1 %}
      <a
        href="?{% if query %}query={{query}}&{% endif %}page={{results.number|add:'-1'}}">
        <li>{{results.number|add:"-1"}}</li>
      </a>
      {% endif %} {% endif %}
      <a
        href="?{% if query %}query={{query}}&{% endif %}page={{results.number}}"
        class="active">
        <li>{{results.number}}</li>
      </a>
      {% if results.has_next and results.paginator.num_pages > results.number %}
      <a
        href="?{% if query %}query={{query}}&{% endif %}page={{results.number|add:'+1'}}">
        <li>{{results.number|add:"+1"}}</li>
      </a>
      {% endif %} {% if results.paginator.num_pages > results.number|add:"+1" %}
      <a
        href="?{% if query %}query={{query}}&{% endif %}page={{results.number|add:'+2'}}">
        <li>{{results.number|add:"+2"}}</li>
      </a>
      {% endif %} {% if results.has_next %}
      <a
        href="?{% if query %}query={{query}}&{% endif %}page={{results.paginator.num_pages}}">
        <li>LAST</li>
      </a>
      {% endif %}
    </ul>
  </div>

  {% else %}
  <p>No results found</p>
  {% endif %}

  
</div>

<div id="contextMenu">
  <ul>
    <li>
      <a href="#" id="renameAction">Rename</a>
    </li>
    <li>
      <a href="#" id="deleteAction">Delete</a>
    </li>
  </ul>
</div>

<div></div>
{% endblock %}
